@model WebApplication1.Models.Invoice

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sno" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GemInvoiceNo" class="control-label"></label>
                <input asp-for="GemInvoiceNo" class="form-control" />
                <span asp-validation-for="GemInvoiceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Items" class="control-label"></label>
                <input asp-for="Items" class="form-control" />
                <span asp-validation-for="Items" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountInwords" class="control-label"></label>
                <input asp-for="AmountInwords" class="form-control" />
                <span asp-validation-for="AmountInwords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CGST" class="control-label"></label>
                <input asp-for="CGST" class="form-control" />
                <span asp-validation-for="CGST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SGST" class="control-label"></label>
                <input asp-for="SGST" class="form-control" />
                <span asp-validation-for="SGST" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CGSTAmount" class="control-label"></label>
                <input asp-for="CGSTAmount" class="form-control" />
                <span asp-validation-for="CGSTAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SGSTAmount" class="control-label"></label>
                <input asp-for="SGSTAmount" class="form-control" />
                <span asp-validation-for="SGSTAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmountInWords" class="control-label"></label>
                <input asp-for="TotalAmountInWords" class="form-control" />
                <span asp-validation-for="TotalAmountInWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
